body {
    background: lightskyblue
}
header {
    background: orange
}
footer {
    background: orange
}
main {
    border: 1px solid orange;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
header {
    border-bottom: 1px solid lightskyblue;
}
footer {
    margin-top: 0px;
}
H1 {
    text-align: center;
}
H2 {
    text-align: center;
}
p {text-align: center;
}
nav {
    justify-content: center
}
li a {
    display: inline;
    padding: 0px;
}
nav li {
    display: inline;
    padding: 50px;
}
.center-content {
    display: inline-block;
    padding: 10px;
}