main {
    background: lightskyblue
}
header {
    background: orange
}
footer {
    background: orange
}
main {
    border: 1px solid orange;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
header {
    border-bottom: 1px solid lightskyblue;
}footer {
    margin-top: 0px;
}
